<div>
    <input type="text" class="list" ng-focus="show()" ng-blur="isShow=false" ng-model="keyWord" ng-keyup="keyUp()" placeholder="chose">
    <button type="button" ng-click="getValue()">按钮</button>
    <span ng-show="isNoMatch" class="tip">No Match</span>
    <ul ng-show="isShow" style=" overflow-x: hidden; overflow-y: auto; width:200px;position:absolute">
        
        <li ng-repeat="item in results" ng-class="{'current': $index == index}">
            <span ng-mousedown = "clickItem($index)">{{item.yourKey ? item.yourKey : item}}</span>
        </li>
    </ul>
</div>
